{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Profile -->
<div class="container">
    {% if messages %}
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <h5 class="card-title" style="font-family: 'Mitr', sans-serif; text-align: center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h5>
        </div>
    </div>
    {% endif %}
    <form method="GET" enctype="multipart/form-data">
        <div class="middle-block row">
            <!-- Left Side -->
            <div class="col-md-4">
                <div class="card">
                    {% if user.profile.image %}
                        {% load cloudinary %}
                        <img src="{{ user.profile.image.url }}" class="card-img-top" id="id_image" alt="User uploaded Image">
                    {% else %}
                        <img src="{% static 'images/Durpy_Duck.PNG' %}">
                    {% endif %}
                    <input type="file" accept="image/*" name="image" id="id_image">
                    <div class="card-body">
                        <h5 class="card-title" style="color: brown;">{{ user.username}}</h5>
                        <p class="card-text">{{ user.email }}</p>
                    </div>
                </div>
                <br>
            </div>
            <!-- Right Side -->
            <div class="col-md-8">
                <h1>PROFILE</h1>
                <!-- Name -->
                <div class="gray row">
                    <label class="col-md-6" for="name"><b>Name</b> </label>
                    <label class="col-md-6" for="first_name">{{ user.first_name }}&nbsp;{{ user.last_name }}</label>
                </div>
                <!-- E-Mail -->
                <div class="white row">
                    <label class="col-md-6" for="name"><b>E-Mail</b> </label>
                    <label class="col-md-6" for="first_name">{{ user.email }}</label>
                </div>
                <!-- Phone -->
                <div class="gray row">
                    <label class="col-md-6" for="name"><b>Phone</b> </label>
                    {% if user.phone_number %}
                        <label class="col-md-6" for="first_name">{{ user.phone_number }}</label>
                    {% else %}
                        <label class="col-md-6" for="first_name">NB</label>
                    {% endif %}
                </div>
                <!-- Region -->
                <div class="white row">
                    <label class="col-md-6" for="name"><b>Region</b> </label>
                    <label class="col-md-6" for="first_name">Ireland</label>
                </div>
            </div>
            <!-- Delete Account Button -->
            <div>
                <input class="btn btn-dark my-4" type="submit" value="Upload">
            </div>
        </div>
</form>
</div>
{% endblock %}