{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Profile -->
<div class="container">
    {% if messages %}
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <h5 class="card-title" style="font-family: 'Mitr', sans-serif; text-align: center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h5>
        </div>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card" style="color: #484848; text-align: center;">
            <div class="card-header">
                <h1 class="card-title">PROFILE</h1>
            </div>
            <div class="card-body row">
            <!-- Left Side -->
                <div class="col-md-4" style="text-align: center;">
                    <div>
                        <img class="img-fluid" src="{% static 'images/Durpy_Duck.PNG' %}" >
                        <div class="card-body">
                            <h5 class="card-title" style="color: brown;">{{ user.username}}</h5>
                            <p class="card-text">{{ user.email }}</p>
                        </div>
                    </div>
                    <br>
                </div>
            <!-- Right Side -->
            <div class="col-md-8" style="margin: auto; overflow: scroll;">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <!-- Name -->
                        <th>Name</th>
                        <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <!-- E-Mail -->
                        <th>E-Mail</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}