{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Profile -->
<div class="container">
    <div class="middle-block row">
        <!-- Left Side -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/Durpy_Duck.PNG' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: brown;">{{ user.username}}</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
            <br>
        </div>
        <!-- Right Side -->
        <div class="col-md-8">
            <h1>PROFILE</h1>
            <!-- Name -->
            <div class="gray row">
                <label class="col-md-6" for="name"><b>Name</b> </label>
                <label class="col-md-6" for="first_name">{{ user.first_name }}&nbsp;{{ user.last_name }}</label>
            </div>
            <!-- E-Mail -->
            <div class="white row">
                <label class="col-md-6" for="name"><b>E-Mail</b> </label>
                <label class="col-md-6" for="first_name">{{ user.email }}</label>
            </div>
            <!-- Phone -->
            <div class="gray row">
                <label class="col-md-6" for="name"><b>Phone</b> </label>
                <label class="col-md-6" for="first_name">{{ user.phone_number }}</label>
            </div>
            <!-- Region -->
            <div class="white row">
                <label class="col-md-6" for="name"><b>Region</b> </label>
                <label class="col-md-6" for="first_name">Ireland</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}