{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="styleheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="styleheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="styleheet" href="../assets/css/style.css">
        <link rel="icon" href="{% static 'images/logo.png' %}">
        <title>D&D Campaign Party</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/d&d-logo-long-2.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'upcoming_campaigns' %}">UPCOMING CAMPAIGNS</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_campaign' %}">CREATE CAMPAIGN</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'venues' %}">VENUES</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end" id="rightAccount">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile' %}" style="color: #191919 !important;">PROFILE</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}" style="color: #191919 !important;">DASHBOARD</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #191919 !important;">LOGOUT</a></li>
                          </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MY ACCOUNT
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'signup' %}" style="color: #191919 !important;">SIGN UP</a></li>
                            <li><a class="dropdown-item" href="{% url 'login' %}" style="color: #191919 !important;">LOG IN</a></li>
                          </ul>
                        </li>
                        {% endif %}
                      </ul>
                </div>
            </nav>
        </header>
        <main> 
            <div class="top-background"></div> 
            {% block content %}

            {% endblock content %}
        </main>
        <!-- Footer -->
        <br>
        <footer>
            <h4>We're So Social</h4>
            <ul class="social-networks">
                <li><a href="https://facebook.com" target="_blank" rel="Facebook Link"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://instagram.com" target="_blank" rel="Instagram Link"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://twitter.com" target="_blank" rel="Twitter Link"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://pinterest.com" target="_blank" rel="Pinterest Link"><i class="fa-brands fa-pinterest-p"></i></a></li>
            </ul>
            <hr>
            <h5>&copy; Copyright 2023 by D&D Campaign Party</h5>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a8fb30ffb7.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>