{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Create Campaign -->
<div class="container">
    {% if messages %}
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <h5 class="card-title" style="font-family: 'Mitr', sans-serif; text-align: center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h5>
        </div>
    </div>
    {% endif %}
        <div class="card" style="color: #484848; margin: 50px;">
            <div class="card-header">
                <h1 class="card-title" style="text-align: center;">{{ user.campaign.campaign_name }}</h1>
            </div>
            <div class="card-body row">
                <div class="col-md-7">
                    <h2>Dungeon Master</h2>
                    <h4 style="color: #808080; font-family: 'Kanit', sans-serif;">{{ user.campaign.dungeon_master }}</h4>

                    <h2>Total Players</h2>
                    <h4 style="color: #808080; font-family: 'Kanit', sans-serif;">{{ user.campaign.total_players }}</h4>  
                </div>
                <div class="col-md-5">
                    <h2>Description</h2>
                    <h4 style="color: #808080; font-family: 'Kanit', sans-serif;">{{ user.campaign.discription }}</h4>
                </div>
            </div>
        </div>
        {% if user.bookvenue == True %}
            <div class="card" style="color: #484848; margin: 50px;">
                <form method="POST" enctype="multipart/form-data" class="campaign-form">
                    <h1>Add Campaign to Venue</h1>
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn start-button" type="submit">Create</button>
                </form>
            </div>
            {% elif user.bookvenue != True %}
            <div class="card" style="color: #484848; margin: 50px;">
                <div class="card-header">
                    <h1 class="card-title" style="text-align: center;">{{ user.bookvenue.venue }}</h1>
                </div>
                <div>
                    <button>Edit</button>
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}