{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Messages -->
<div class="container" id="accordion">
    {% if messages %}
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <h5 class="card-title" style="font-family: 'Mitr', sans-serif; text-align: center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h5>
        </div>
    </div>
    {% endif %}
    <div class="card campaign-form" id="campaignCollapse">
        <div class="card-header">
            <h1 class="card-title" style="text-align: center;">Campaigns</h1>
        </div>
    </div>
        <!-- Shows created campaigns -->
        {% for campaign in campaign_list %}
        {% if campaign.user == user %}
        <div class="card-design">
            <div class="row">
                <h1 class="card-main-style" id="campaign-name">{{ campaign.campaign_name }}</h1>
                <hr>
                <div class="col-md-7">
                    <h3 class="card-h-style">Dungeon Master</h3>
                    <p class="p-style">{{ campaign.dungeon_master }}</p>

                    <h3 class="card-h-style">Total Players</h3>
                    <p class="p-style">{{ campaign.total_players }}</p>  
                </div>
                <div class="col-md-5">
                    <h3 class="card-h-style">Description</h3>
                    <p>{{ campaign.description | safe }}</p>
                </div>

            </div>
            <hr>
            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <a class="btn start-button" href="{% url 'delete_campaign' campaign.id %}">Delete Campaign</a>
                </div>
                <div class="col-md-6">
                    <a class="btn start-button" href="{% url 'edit_campaign' campaign.id %}" style="background: #0640c5;
                    background-image: linear-gradient(to bottom, #005dff, #030000);">Edit Campaign</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}