{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Create Campaign -->
<div class="container">
    {% if messages %}
    <div class="card border-danger mb-3">
        <div class="card-body text-danger">
            <h5 class="card-title" style="font-family: 'Mitr', sans-serif; text-align: center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </h5>
        </div>
    </div>
    {% endif %}
    <div class="card" style="color: #484848; margin: 50px;">
        <div class="card-header">
            <h1 class="card-title" style="text-align: center;">Campaigns</h1>
        </div>
        {{ campaign.campaign_name }}
        <!-- Shows created campaigns -->
        {% for campaign in campaigns_list %}
        <div class="card-body row">
            <div class="col-md-7">
                <h1 style="text-align: center;">{{ user.campaign.campaign_name }}</h1>

                <h2>Dungeon Master</h2>
                <h4 style="color: #808080; font-family: 'Kanit', sans-serif;">{{ user.campaign.dungeon_master }}</h4>

                <h2>Total Players</h2>
                <h4 style="color: #808080; font-family: 'Kanit', sans-serif;">{{ user.campaign.total_players }}</h4>  
            </div>
            <div class="col-md-5">
                <h2>Description</h2>
                <p>{{ user.campaign.discription | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Shows Current booked venues -->
    <div class="card" style="color: #484848; margin: 50px;">
        <div class="card-header">
            <h1 class="card-title" style="text-align: center;">Campaigns booked at a Venue</h1>
        </div>
        <div class="card-body">
            <h4>Venue</h4>
            <p>{{ user.bookvenue.venue }}</p>
            <h4>Date</h4>
            <p>{{ user.bookvenue.booking_date }}</p>
        </div>
        <div class="card-footer">
            <button class="btn start-button">Edit</button>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="card campaign-form" style="color: #484848; margin: 50px;">
        <div class="card-header">
            <h1 class="card-title">Add Campaign to Venue</h1>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <button class="btn start-button" type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}