{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Home Main Page -->
<div class="container">
    <ul class="messageList">
        <li class="info"></li>
    </ul>
    <!-- About Us section -->
    <div class="div-about-us">
        <h1>ABOUT US</h1>
        <p> 
            We helps Dungeons & Dragon nerds book venues for their parties.
            These are typical campaigns that have more then 3 players and don't have the space to host
            the game. Even if you are only 3 players, you are welcome too book a venue.
            <hr>
            There are plenty of venues all over the world! It doesn't matter if you are based in Europe,
            South America, Northern America, Asia or Australia. 
            <br>
            You are all welcome!
            <hr>
            You can also view all the upcoming campaign parties and their characters (if the party made it public). 
        </p>
    </div>
    <br>
    <!-- How it works section section -->
    <div class="div-how-it-works">
        <h1>HOW IT WORKS</h1>
        <p>It is very easy to book a venue, just follow these steps:</p>
        <h2><em>STEP 1: </em>&nbsp;<i class="fa-solid fa-user-plus"></i></h2>
        <p>Create an <b>Account</b></p>
        <hr>
        <h2><em>STEP 2: </em>&nbsp;<i class="fa-solid fa-users"></i></h2>
        <p>Create a <b>Campaign</b></p>
        <hr>
        <h2><em>STEP 3: </em>&nbsp;<i class="fa-solid fa-map-location-dot"></i></h2>
        <p>
            Go to <b>Venues</b>, select the area you plan to play the campaign and follow
            the given instructions.

        </p>
        <hr>
    </div>
</div>
{% endblock %}