{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% for bookvenue in bookvenue_list  %}
            <div class="upcoming-style">
                <h1 style="text-align: center;">{{ bookvenue.campaigns }}</h1>
                <hr>
                <div class="row" style="text-align: center;">
                    <div class="col-md-6">
                        <h2>Venue Booked</h2>
                        <p>{{ bookvenue.venue }}</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Date Booked at Venue</h2>
                        <p>{{ bookvenue.booking_date }}</p>
                    </div>
                </div>
                <p>{{ bookvenue.booking_comments }}</p>
                {% if user.is_authenticated and bookvenue.user == user %}
                <div class="row" style="text-align: center;">
                    <hr>
                    <div class="col-md-6">
                        <a class="btn start-button" href="{% url 'delete_venue' bookvenue.id %">Delete Venue</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn start-button" href="{% url 'edit_venue' bookvenue.id %}" style="background: #0640c5;
                        background-image: linear-gradient(to bottom, #005dff, #030000);">Edit Venue</a>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}